Django>=4.2
moviepy==1.0.3
decorator>=4.0.2
imageio>=2.5
imageio-ffmpeg>=0.4.0
tqdm>=4.11.2
python-docx
openai-whisper
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
ffmpeg-python
gunicorn==21.2.0
numpy
Pillow
matplotlib
